---
import Layout from '../../layouts/Layout.astro'

const { id } = Astro.params
---

<Layout title="Astro + View Transitions Photo Gallery">
  <div class="content">
    <div class="content__item" id="item-1">
      <span class="content__item-number oh"
        ><span class="oh__inner">01</span></span
      >
      <h2 class="content__item-heading oh">
        <span class="oh__inner">Masses</span>
      </h2>
      <p class="content__item-text">
        The instruments by which public opinion is organized and focused may be
        misused. But such organization and focusing are necessary to orderly
        life.
      </p>
      <a class="content__item-link oh"
        ><span class="oh__inner">View more</span></a
      >
      <nav class="slide-nav">
        <div
          class="slide-nav__img slide-nav__img--prev"
          style="background-image:url(/img/11.jpg);"
        >
        </div>
        <div
          class="slide-nav__main-img"
          style={`background-image:url(/img/${id}.jpg);`}
          transition:name={`photo-${id}`}
        >
        </div>
        <div
          class="slide-nav__img slide-nav__img--next"
          style="background-image:url(/img/12.jpg);"
        >
        </div>
      </nav>
    </div>
    <a href="/" class="back">
      <svg viewBox="0 0 50 9" width="100%"
        ><path d="M0 4.5l5-3M0 4.5l5 3M50 4.5h-77"></path></svg
      >
    </a>
    <nav class="grid grid--mini">
      <div class="grid__cell grid__cell-c1-r1">
        <div class="grid__cell-img">
          <div
            class="grid__cell-img-inner"
            style="background-image:url(/img/1.jpg)"
          >
          </div>
        </div>
      </div>
      <div class="grid__cell grid__cell-c3-r1">
        <div class="grid__cell-img">
          <div
            class="grid__cell-img-inner"
            style="background-image:url(/img/2.jpg)"
          >
          </div>
        </div>
      </div>
      <div class="grid__cell grid__cell-c4-r1">
        <div class="grid__cell-img">
          <div
            class="grid__cell-img-inner"
            style="background-image:url(/img/3.jpg)"
          >
          </div>
        </div>
      </div>
      <div class="grid__cell grid__cell-c1-r2">
        <div class="grid__cell-img">
          <div
            class="grid__cell-img-inner"
            style="background-image:url(/img/4.jpg)"
          >
          </div>
        </div>
      </div>
      <div class="grid__cell grid__cell-c3-r2">
        <div class="grid__cell-img">
          <div
            class="grid__cell-img-inner"
            style="background-image:url(/img/5.jpg)"
          >
          </div>
        </div>
      </div>
      <div class="grid__cell grid__cell-c2-r3">
        <div class="grid__cell-img">
          <div
            class="grid__cell-img-inner"
            style="background-image:url(/img/6.jpg)"
          >
          </div>
        </div>
      </div>
      <div class="grid__cell grid__cell-c4-r3">
        <div class="grid__cell-img">
          <div
            class="grid__cell-img-inner"
            style="background-image:url(/img/7.jpg)"
          >
          </div>
        </div>
      </div>
      <div class="grid__cell grid__cell-c1-r4">
        <div class="grid__cell-img">
          <div
            class="grid__cell-img-inner"
            style="background-image:url(/img/8.jpg)"
          >
          </div>
        </div>
      </div>
      <div class="grid__cell grid__cell-c3-r4">
        <div class="grid__cell-img">
          <div
            class="grid__cell-img-inner"
            style="background-image:url(/img/9.jpg)"
          >
          </div>
        </div>
      </div>
      <div class="grid__cell grid__cell-c3-r5">
        <div class="grid__cell-img">
          <div
            class="grid__cell-img-inner"
            style="background-image:url(/img/10.jpg)"
          >
          </div>
        </div>
      </div>
    </nav>
  </div>
</Layout>
