---
import GridCell from '../components/GridCell.astro'
import Layout from '../layouts/Layout.astro'

import { photos } from '../photos'
---

<Layout title="Astro + View Transitions Photo Gallery">
  <div>
    <div class="grid grid--large">
      <div class="grid__cell grid__cell-c4-r2 grid__cell--padded">
        <div class="frame">
          <h1 class="frame__title oh">
            <span class="oh__inner"
              >Astro +<br />View Transitions<br />Photo Gallery</span
            >
          </h1>
          <nav class="frame__links">
            <a
              href="https://github.com/Charca/astro-photo-gallery"
              class="oh"
              target="_blank"
              rel="noopener"><span class="oh__inner">Source code</span></a
            >
            <div>
              Original demo by <a
                href="https://twitter.com/codrops"
                class="oh"
                target="_blank"
                rel="noopener"><span class="oh__inner">@codrops</span></a
              >
            </div>
          </nav>
        </div>
      </div>
      <div class="grid__cell grid__cell-c2-r2 grid__cell--padded">
        <div>
          By <a
            href="https://twitter.com/charca"
            class="oh"
            target="_blank"
            rel="noopener"><span class="oh__inner">@charca</span></a
          > &amp; <a
            href="https://twitter.com/addyosmani"
            class="oh"
            target="_blank"
            rel="noopener"><span class="oh__inner">@addyosmani</span></a
          >
        </div>
      </div>
      {photos.map((photo) => <GridCell photo={photo} />)}
    </div>
  </div>
</Layout>
