---
import GridCell from '../components/GridCell.astro'
import Layout from '../layouts/Layout.astro'

import { photos } from '../photos'
---

<Layout title="Astro + View Transitions Photo Gallery">
  <div>
    <div class="grid grid--large">
      <div class="grid__cell grid__cell-c4-r2 grid__cell--padded">
        <div class="frame">
          <h1 class="frame__title oh">
            <span class="oh__inner">Grid Zoom Effect</span>
          </h1>
          <nav class="frame__links">
            <a href="" class="oh"><span class="oh__inner">Article</span></a>
            <a
              href="https://tympanus.net/Development/ParanoiaSlideshow/"
              class="oh"><span class="oh__inner">Previous demo</span></a
            >
            <a href="https://github.com/codrops/GridZoom/" class="oh"
              ><span class="oh__inner">GitHub</span></a
            >
          </nav>
        </div>
      </div>
      <div class="grid__cell grid__cell-c2-r2 grid__cell--padded">
        <a href="https://twitter.com/codrops" class="oh"
          ><span class="oh__inner">@codrops</span></a
        >
      </div>
      {photos.map((photo) => <GridCell photo={photo} />)}
    </div>
  </div>
</Layout>
