---
import type { Photo } from '../photos'

interface Props {
  noId?: boolean
  photo: Photo
  photoIndex?: number
  isCurrent?: boolean
}

const { noId, photo, photoIndex, isCurrent } = Astro.props
---

<div class:list={[`grid__cell`, { 'grid__cell--current': isCurrent }]}>
  <div class="grid__cell-img">
    <a href={`/photo/${photo.id}`}>
      <img
        class="grid__cell-img-inner"
        id={noId ? undefined : `photo-${photo.id}`}
        src={photo.url}
        alt={photo.title}
        loading={photoIndex && photoIndex > 8 ? 'lazy' : 'eager'}
        fetchpriority={photoIndex && photoIndex <= 4 ? 'high' : 'auto'}
      />
    </a>
  </div>
</div>
