---
import type { Photo } from '../photos'

interface Props {
  noId?: boolean
  photo: Photo
  isCurrent?: boolean
}

const { noId, photo, isCurrent } = Astro.props
---

<div class:list={[`grid__cell`, { 'grid__cell--current': isCurrent }]}>
  <div class="grid__cell-img">
    <a href={`/photo/${photo.id}`}>
      <img
        width="300"
        height="300"
        loading="lazy"
        class="grid__cell-img-inner"
        id={noId ? undefined : `photo-${photo.id}`}
        src={photo.url}
        alt={photo.title}
      />
    </a>
  </div>
</div>
