---
import { photos } from '../photos'
import GridCell from './GridCell.astro'

interface Props {
  currentPhotoId?: number | string
}

const { currentPhotoId } = Astro.props
---

<nav class="grid grid--mini">
  {
    photos.map((photo) => (
      <GridCell
        photo={photo}
        withoutTransition
        isCurrent={photo.id === currentPhotoId}
      />
    ))
  }
</nav>
